@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Lar";
  src: url(../font/LarishNeueSemibold.woff);
}
@font-face {
  font-family: "Work";
  src: url(../font/WorkSans-Regular.ttf);
}
h1 {
  font-family: "Lar";
}

h2 {
  font-family: "Lar";
}

.kom {
  font-family: "Work";
  font-size: 1rem;
  padding-top: 5%;
}

img {
  width: 100%;
}

.cb {
  background-color: black;
  color: white;
}

.aa {
  padding: 1% 2%;
  background-color: black;
  color: white;
  border: 1px solid white;
  transition: 0.3s linear;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: white;
  transition: 0.3s linear;
}

@media (max-width: 768px) {
  .kom {
    font-size: 0.7rem;
  }
}
.flexIt {
  display: flex;
  background-color: black;
  height: 40vh;
}
.flexIt div:nth-of-type(1) {
  border-right: 1px solid white;
  width: 50%;
}

.center {
  text-align: center;
  padding-top: 5%;
}
.center h1 {
  font-size: 5rem;
  padding: 1% 32%;
}
.center h1 span {
  color: black;
  -webkit-text-stroke: 1px white;
}
.center p:nth-of-type(2) {
  padding-bottom: 10%;
}

.im {
  display: flex;
  justify-content: space-between;
}
.im div {
  padding-left: 15%;
}
.im a {
  margin-right: 15%;
}

.last {
  margin: 0 0 10% 15%;
  font-size: 4.02rem;
  padding: 15% 12% 0 0;
}

.back {
  background: url(../img/map.svg);
  background-position: right bottom 7rem;
  background-repeat: no-repeat;
  background-size: 28%;
  background-color: black;
}

.wild {
  margin: 0 0 0 15%;
  padding-bottom: 5%;
}
.wild h2 {
  font-size: 4.3rem;
  padding: 1% 0;
}

.rel {
  position: relative;
  height: 250vh;
  margin-bottom: 0%;
}
.rel div {
  width: 25%;
}
.rel .eins {
  position: absolute;
  top: -4%;
  left: 70%;
}
.rel .zwei {
  position: absolute;
  top: 15%;
  left: 2%;
}
.rel .drei {
  position: absolute;
  top: 40%;
  left: 75%;
}
.rel .vier {
  position: absolute;
  top: 55%;
  left: 17%;
}
.rel .textEins {
  position: absolute;
  top: 26%;
  left: 35%;
}
.rel .textEins h3 {
  font-size: 5rem;
  padding-right: 40%;
}
.rel .textEins p {
  padding-right: 61%;
  line-height: 150%;
}
.rel .fünf {
  position: absolute;
  top: 65%;
  left: 65%;
}
.rel .textZwei {
  position: absolute;
  top: 80%;
  left: 40%;
  padding-right: 33%;
  line-height: 150%;
}
.rel .sechs {
  position: absolute;
  top: 80%;
  left: 0%;
}
.rel .sieben {
  position: absolute;
  top: 90%;
  left: 53%;
}

.space {
  height: 140vh;
  display: flex;
}
.space .lp {
  padding: 71% 0 0 80%;
}
.space h2 {
  padding-left: 80%;
  font-size: 5rem;
  line-height: 90%;
}
.space .thisDesign {
  padding: 15% 16% 0 34%;
  font-size: 1.7rem;
}

.pos {
  position: relative;
}
.pos .many {
  width: 25%;
  position: absolute;
  top: -51vh;
  left: 60%;
  z-index: 1;
}
.pos .inBig {
  width: 50%;
  position: absolute;
  top: -70vh;
  left: 14%;
}

.relcirc {
  position: relative;
}
.relcirc .circle {
  position: absolute;
  width: 25%;
  top: -14vh;
  left: 75%;
  -webkit-animation-name: round;
          animation-name: round;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
@-webkit-keyframes round {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes round {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spaceZwei {
  height: 230vh;
  display: flex;
}
.spaceZwei .lpZwei {
  padding: 170% 0 0 45%;
}
.spaceZwei h2 {
  padding-left: 45%;
  font-size: 5rem;
  line-height: 90%;
}
.spaceZwei .thisDesignZwei {
  padding: 30% 18% 0 32%;
  font-size: 1.7rem;
  font-weight: 700;
}

.fml {
  position: absolute;
  width: 30%;
  left: 10%;
  top: -100vh;
  z-index: 1;
}

.logo {
  position: absolute;
  width: 55%;
  left: 35%;
  top: -120vh;
}

.ani {
  position: absolute;
  font-size: 5rem;
  width: 150%;
  background-color: white;
  color: black;
  transform: rotate(45deg);
  -webkit-animation-name: june;
          animation-name: june;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
@-webkit-keyframes june {
  from {
    top: -450px;
    right: -500px;
  }
  to {
    top: 800px;
    right: -1750px;
  }
}
@keyframes june {
  from {
    top: -450px;
    right: -500px;
  }
  to {
    top: 800px;
    right: -1750px;
  }
}
.ani span {
  color: white;
  -webkit-text-stroke: 1px black;
}

.bcl {
  overflow: hidden;
  position: relative;
  height: 100vh;
}
.bcl .p {
  padding: 15% 0 2% 7%;
}
.bcl h4 {
  font-size: 1.7rem;
  padding: 0 67% 2% 7%;
  line-height: 170%;
}
.bcl a {
  margin-left: 7%;
}

footer {
  display: flex;
  padding-left: 7%;
  line-height: 200%;
  font-size: 1.4rem;
  justify-content: space-between;
  padding-right: 7%;
}
footer .pic {
  display: flex;
  width: 10%;
}

@media (max-width: 768px) {
  .center {
    align-items: center;
  }
  .center h1 {
    align-items: center;
    font-size: 3rem;
    padding: 1% 30%;
  }

  .last {
    font-size: 2rem;
  }

  .back {
    background-size: 37%;
  }

  .wild h2 {
    font-size: 2rem;
  }

  .rel .textEins {
    top: 20%;
  }
  .rel .textEins h3 {
    padding-right: 20%;
  }
  .rel .textEins p {
    padding-right: 28%;
  }

  .rel .textZwei {
    padding-right: 14%;
    left: 35%;
  }

  .rel .sieben {
    top: 95%;
  }

  .space {
    height: 110vh;
  }
  .space .lp {
    padding: 60% 0 0 40%;
  }
  .space h2 {
    padding-left: 40%;
    font-size: 4rem;
  }
  .space .thisDesign {
    padding: 19% 10% 0% 20%;
    font-size: 1.2rem;
  }

  .pos .many {
    top: -30vh;
  }
  .pos .inBig {
    top: -45vh;
  }

  .relcirc .circle {
    top: -10vh;
    left: 75%;
  }

  .spaceZwei {
    height: 160vh;
  }
  .spaceZwei .lpZwei {
    padding: 110% 0 0 45%;
  }
  .spaceZwei h2 {
    font-size: 4rem;
  }
  .spaceZwei .thisDesignZwei {
    padding: 30% 11% 0 20%;
    font-size: 1.2rem;
  }

  .fml {
    top: -67vh;
  }

  .logo {
    top: -80vh;
  }

  .ani {
    width: 150%;
    font-size: 3rem;
  }

  .bcl {
    height: 90vh;
  }
  .bcl h4 {
    padding: 0 40% 2% 7%;
  }

  footer {
    font-size: 0.7rem;
  }
}/*# sourceMappingURL=main.css.map */